{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>UniRoleta</title>
        <link rel="icon" href="{% static 'polls/roleta.png' %}" />
        <link rel="stylesheet" href="{% static 'polls/roleta.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/e5eab90658.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="{% static 'polls/roleta.js' %}" defer data-balance="{{ balance }}" data-username="{{ username }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
</head>
<header>

</header>
<body>
    <div class="caixa">
        <h2>Bem-vindo ao UniRoleta, {{ username }}!</h2>
        <p>Preparado para a diversão?</p>
        <p>Obs: Após escolher onde apostar, basta clicar na roleta para ela girar!</p>
        <p style="color: red;">ATENÇÃO: Após girar a roleta, seu saldo será permanentemente alterado de acordo com o resultado da aposta realizada!</p>
        <p>Recarregar a página não evita ganhos ou perdas!</p>
        <button onclick="fecharMensagem()">Começar</button>
    </div>

    <div class="caixa_roleta">
        <img src="{% static 'polls/roleta.png' %}" alt="" class="roleta" id="roleta">
        <img src="{% static 'polls/bola.png' %}" alt="" class="bola" id="bola">
    </div>


    <div class="container mt-5">
        <p class="saldo" id="saldo_user"><i class="fas fa-coins"></i>&nbsp;Saldo: {{ balance }}</p>

        <span>
            <a class="logout" href="{% url 'lasvegas:user_logout' %}">Sair</a>
            <a class="home" href="{% url 'lasvegas:tela_inicial' %}">Tela Inicial</a>
        </span>
    </div>
    <div class="travaApostas" id="travaApostas"></div>
    <div class="travaReset" id="travaReset"></div>


    <script type="text/javascript">
        function fecharMensagem() {
            var caixa = document.querySelector('.caixa');
            caixa.style.display = 'none';
        }
    </script>
    
    <p class="aviso_sem_saldo" id="aviso_sem_saldo"></p>

    <form id="formMov" method="get">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" id="submitForm">
    </form>
</body>

</html>