{% load static %}

<html>

<head>
  
  <script src="https://kit.fontawesome.com/e5eab90658.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

  <link rel="stylesheet" href="{% static 'polls/roleta.css' %}">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


  <title>Roletaço do Caio</title>
  <link rel="icon" href="{% static 'polls/roleta.png' %}" />



</head>

<body>
  <div class="caixa">
    <h2>Bem-vindo ao UniRoleta!</h2>
    <p>Preparado para a diversão?</p>
    <button onclick="fecharMensagem()">Começar</button>
  </div>

  <div class="caixa_mesa">
    <img src="{% static 'polls/mesa_com_roleta.png' %}" alt="" class="mesa">
    <img src="{% static 'polls/roleta.png' %}" alt="" class="roleta" id="roleta">
    <button id="botao_rodar" onclick="rodar_roleta()">Rodar a roleta</button>
    <img src="{% static 'polls/bola.png' %}" alt="" class="bola" id="bola">
    <h1 id="texto_controle1">Roleta:</h1>
    <h1 id="texto_controle2">Bola:</h1>
    <h1 id="texto_controle3">Diff:</h1>
    <h1 id="texto_controle4">Casa:</h1>
    <h1 id="texto_controle5">Cor:</h1>
  </div>
  <p class="saldo" ><i class="fas fa-coins"></i>&nbsp;Saldo: {{ balance }}</p>

  <span>
    <a class="logout" href="{%url 'lasvegas:user_logout' %}">Sair</a>
  </span>
  <script  src = "{% static 'polls/roleta.js' %}" ></script>


  <script type="text/javascript">
    function fecharMensagem() {
      var caixa = document.querySelector('.caixa');
      caixa.style.display = 'none';
    }
  </script>
</body>


</html>