body {
    padding-right: 10px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    background-color: rgb(14, 108, 14);
}

.caixa_mesa {
    position: relative;
    min-height: 345px;
    min-width: 300px;
    
    
}

.mesa {
    position: relative;
    top: -53;
    left: 0;
    z-index: 1;
    max-width: 150vh;
    min-width: 500px;
}

#roleta {
    position: absolute;
    top: 10%;
    left: 2.5%;
    z-index: 2;
    max-width: 74vh;
    min-width: 246.66px;
    transition-duration: 0s;
}


#botao_rodar:hover {
    transform: scale(1.03);
}

#botao_rodar:active {
    transform: scale(0.95);
}

#botao_rodar {
    position: absolute;
    font-size: 11px;
    color: white;
    background-color: rgb(238, 31, 31);
    border: solid 3px white;
    border-radius: 50%;
    align-content: center;
    z-index: 3;
    width: 12vh;
    height: 12vh;
    top: 80vh;
    left: 65vh;
}

.bola {
    position: absolute;
    max-height: 28vh;
    min-height: 9.333px;
    top: 35%;
    left: 25.35%;
    z-index: 4;
}

#texto_controle1 {
    position: absolute;
    font-size: 20px;
    left: 70%;
    top: 2%;
    color: white;
}

#texto_controle2 {
    position: absolute;
    font-size: 20px;
    left: 70%;
    top: 6%;
    color: white;
}

#texto_controle3 {
    position: absolute;
    font-size: 20px;
    left: 70%;
    top: 10%;
    color: white;
}

#texto_controle4 {
    position: absolute;
    font-size: 20px;
    left: 70%;
    top: 14%;
    color: white;
}

#texto_controle5 {
    position: absolute;
    font-size: 20px;
    z-index: 6;
    left: 70%;
    top: 25%;
    color: white;
}

.saldo {
    border: 2px solid gold;
    color: white;
    background: #000;
    padding: 2px;
    position: absolute;
    left: 10px; 
    top: 10px; 
}

.logout {
    border: 2px solid gold;
    color: white;
    background: #000;
    padding: 2px;
    position: absolute;
    top: 5px;
    text-decoration: none;
}

.logout:hover {
    background-color: rgb(14, 108, 14);
    color: white;
}