body {
    font-family: "Poetsen One", sans-serif;
    background-image: url("polls/about.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
}
.retangulo {
    width: auto;
    height: auto; 
    background-color: #111111; 
    padding: 20px; 
    display: flex;
    justify-content: space-between;
}

.retangulo p {
    margin: 0; 
}

.texto_retangulo {
    color: wheat;
    margin-left: 60px;
    margin-top: 15px;
}

.logoo {
    width: 90px;
    height: 80px;
    overflow: hidden;
    margin-left: 50px;
    padding: 5px;
    
}

.info {
    background-color: #111111;
    overflow: hidden;
    margin-top: 15px;
    margin-right: 80px;
  }
  
  .info a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

.info a:hover {
    background-color: #ddd;
    color: black;
  }

  .info a.active {
    background-color: #04AA6D;
    color: white;
  }

.table_ling {
    border: 5px solid gray;
    margin-left: 600px;
    margin-top: 150px;  
    width: 250px;
    background-color: #111111;
    opacity: 0.8;
    text-align: center;
    color: white;
  }